.nav{
  background-color: $primary-color;
  grid-column: navbar-start/navbar-end;
  grid-row: 1/-1;

  display: grid;
  grid-template-columns: repeat(4, 1fr);  
  grid-template-rows: .1rem repeat(3, 3rem) repeat(5, min-content) repeat(2, minmax(min-content, 1fr));
  grid-gap: 3rem;

  justify-content: center;

  &__item{
    text-decoration: none;
    color: #fff;
    font-size: 1.8rem;
    transition: all .5s;
    // text-align: center;
  }

  &__item:hover{
    color:$light-grey-1;
  }

  &__logo{
    height:80%;
    width:80%;
    justify-self: center;
    grid-column: 1/-1;
    grid-row: 2/5;
  }

  &__home{
    grid-column:2/4;
    grid-row: 5/6;
  }

  &__about{
    grid-column:2/4;
    grid-row: 6/7;
  }

  &__products{
    grid-column:2/4;
    grid-row: 7/8;
  }

  &__contact{
    grid-column:2/4;
    grid-row: 8/9;
  }

  &__copyright{
    font-size: .8rem;
    grid-column: 2/4;
    grid-row: 9/10;
    margin-top: 2rem;
    text-align: center;
  }

  &__financing{
    grid-column:1/-1;
    grid-row: 10/11;
    justify-self:center;
    height:50%;
    width:50%;
  }
}

.nav__menu{
  display: none;
  grid-column:2/3;
  background-color: black;
  width: 250%;
  z-index: 1;

  a{
    text-decoration: none;
    font-size: 2.3rem;
    color: #000;
    display: flex;
    justify-content: start;
    gap: 3rem;
  }

  a:hover{
    color: $light-grey-2;
    transition: all 1.2s;
  }
}