   @mixin pdp {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-gap: 1.5rem;

  &__text{
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    grid-column: 1/-1;
    margin-top: 8rem;
  }
}
.pergolas{ 
  @include pdp;
}

.retractaroofs{
  @include pdp;
}

.arcadia{
  @include pdp;
}

.commercial{
  @include pdp;
}

.heaters{
  @include pdp;
}

.residential{
  @include pdp;
}

.retractable{
  @include pdp;
}

.screens{
  @include pdp;
}
