<div class="heaters">
  <p class="heaters__text">Helping you bring the indoor out by keeping you warm when it gets chili Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum obcaecati nulla fugiat qui, enim vero aliquam tempore reprehenderit adipisci neque. Modi ab placeat mollitia nisi iste illum excepturi, iusto at.</p>
  <figure><img src="./img/heaters/31UUoKVxWuL._SL500_AC_SS350_.jpg" alt=""></figure>
  <figure><img src="./img/heaters/6ccb1214d5e69c053c555aa5ae8f24ec.jpg" alt=""></figure>
  <figure><img src="./img/heaters/94052-9338914.jpg" alt=""></figure>
  <figure><img src="./img/heaters/Bromic-Tungsten-Electric-black-lifestyle__05524.1493859398.480.480.jpg" alt=""></figure>
  <figure><img src="./img/heaters/Cobalt Electric Heater - 2kW_HR.jpg" alt=""></figure>
  <figure><img src="./img/heaters/Cobalt Smart-Heat Electric 2000W.jpg" alt=""></figure>
  <figure><img src="./img/heaters/heat.jpg" alt=""></figure>
  <figure><img src="./img/heaters/images.jpg" alt=""></figure>
  <figure><img src="./img/heaters/imagess.jpg" alt=""></figure>
  <figure><img src="./img/heaters/IMG_3979_mountains-low.jpg" alt=""></figure>
  <figure><img src="./img/heaters/IMG_3990-low.jpg" alt=""></figure>
  <figure><img src="./img/heaters/index.jpg" alt=""></figure>
  <figure><img src="./img/heaters/Platinum-Electric-w375.jpg" alt=""></figure>
  <figure><img src="./img/heaters/shot-1-low.jpg" alt=""></figure>
</div>