<div class="content">
  <figure class="content__item content__item-1">
    <a href=""><img src="./img/elmhurst.jpg" alt="Black on black arcadia louvered roof"></a>
  </figure>

  <figure class="content__item content__item-2">
    <a href=""><img src="./img/commerical.jpg" alt=""></a>
  </figure>

  <figure class="content__item content__item-3">
    <a href=""><img src="./img/Aluminum_Pergolas.png" alt=""></a>
  </figure>

  <figure class="content__item content__item-4">
    <a href=""><img src="./img/Residential.png" alt=""></a>
  </figure>

  <figure class="content__item content__item-5">
    <a href=""><img src="./img/SolarScreens.png" alt=""></a>
  </figure>

  <figure class="content__item content__item-6">
    <a href=""><img src="./img/bromic.jpg" alt="Bromic ceramic heaters" ></a>
  </figure>

  <figure class="content__item content__item-7">
    <a href=""><img src="./img/retractable-awning.jpg" alt="" ></a>
  </figure>

  <figure class="content__item content__item-8">
    <a href=""><img src="./img/retractable-roof.jpg" alt="" ></a>
  </figure>

</div>