<div class="residential">
  <p class="residential__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum esse nulla reprehenderit eveniet perspiciatis eum quam fuga magni assumenda et voluptatum, iusto impedit quae officiis non tempore id suscipit. Quasi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis hic corporis consectetur dolorum molestias incidunt officia dolor, ipsam iste commodi magni expedita eligendi excepturi, neque earum qui fuga reiciendis unde.</p>
  <figure><img src="./img/residential/DSC02874.JPG" alt=""></figure>
  <figure><img src="./img/residential/green.jpg" alt=""></figure>
  <figure><img src="./img/residential/images.jpg" alt=""></figure>
  <figure><img src="./img/residential/red.jpg" alt=""></figure>
  <figure><img src="./img/residential/res.jpg" alt=""></figure>
  <figure><img src="./img/residential/reside.jpg" alt=""></figure>
  <figure><img src="./img/residential/residential.jpg" alt=""></figure>
</div>