<div class="retractable">
  <p class="retractable__text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, et nobis quasi natus excepturi quas error quidem molestiae atque. Quasi labore itaque debitis nostrum aliquam aut fugit laudantium expedita eaque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quam id maxime, adipisci illo totam, alias itaque nobis ipsam iure, rerum aliquam porro ea! Quo ducimus dicta, vel ullam eaque?
  </p>
  <figure><img src="./img/retratables/Martinez-install-9-4-08-3.jpg" alt=""></figure>
  <figure><img src="./img/retratables/roof-mount-retracted.jpg" alt=""></figure>
  <figure><img src="./img/retratables/Schneider-finish-photos-9-2-08-6.jpg" alt=""></figure>
  <figure><img src="./img/retratables/Total-Eclipse-12.jpg" alt=""></figure>
  <figure><img src="./img/retratables/Total-Eclipse-2.jpg" alt=""></figure>
  <figure><img src="./img/retratables/Total-Eclipse-open-roller.jpg" alt=""></figure>
</div>