<div class="screens">
  <p class="screens__text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus totam tenetur, voluptatum, at accusamus doloremque labore beatae quidem suscipit illum minima harum voluptas similique natus sint odio sit porro iure. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi et quisquam dolore, repellendus commodi harum ipsam voluptatibus nobis, quos assumenda obcaecati! Porro eius, nihil autem eveniet modi consequuntur natus dignissimos.
  </p>
  <figure><img src="./img/screens/E-Zip-1-unit-half-way-out-down.jpg" alt=""></figure>
  <figure><img src="./img/screens/Eclipse-E-Zip-10-units-down.jpg" alt=""></figure>
  <figure><img src="./img/screens/Eclipse-E-Zip-8-units-down.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_0375.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_0376.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_0377.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_0378.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_0801.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_0803.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_1324.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_1341.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_1342.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_1343.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_1344.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_1345.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_1347.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_1918.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_2296.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_2297.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_2582.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_2586.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_2969.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_3736.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_3739.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_3969.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_3970.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_6726.jpg" alt=""></figure>
  <figure><img src="./img/screens/SUMMIT_SL111_SCREENS.jpg" alt=""></figure>
  <figure><img src="./img/screens/VDS-extended-inside.jpg" alt=""></figure>
  <figure><img src="./img/screens/VDS-extended-outside.jpg" alt=""></figure>
  <figure><img src="./img/screens/VDS-half-extended-outside.jpg" alt=""></figure>
</div>